<html>
    <head>
        <title>Data Structure Project</title>
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/material.css" />
        <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.css" />
        <!-- endbower -->

        <link rel="stylesheet" href="css/style.css" />

        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
        <script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
        <script src="bower_components/cytoscape/dist/cytoscape.js"></script>
        <!-- endbower -->
        <script src="js/graph.js"></script>
        <script src="js/script.js"></script>
        <script src="js/kruskal.js"></script>
        
    </head>
<body>
    <div class="container" ng-app="myApp" ng-controller="myCtrl">
        <div class="row">
                <div class="navbar navbar-inverse ">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:void(0)">{{appname}}</a>
                </div>
                <div class="navbar-collapse collapse navbar-inverse-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="x in menus" class="{{x.active}}" >
                            <a href="#{{x.url}}" ng-click="tongglemenu(x)">{{x.title}}</a>
                          </li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Azrul Amir <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)">Action</a></li>
                                <li><a href="javascript:void(0)">Another action</a></li>
                                <li><a href="javascript:void(0)">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:void(0)">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            
            
        </div>
        
        <div id="homepage" class="animate-show" ng-hide="homepage">
            

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Preferences</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="jumbotron">
                                        <h1>Data Structure Project</h1>
                                        <h3>Mohd Azrul Amir Muhamad Tajudin <span class="label label-primary">P75852</span></h3>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <legend>Node Parameter</legend>


                                            <div class="form-group">
                                                <label for="inputEmail" class="col-lg-3 control-label">Node List</label>
                                                <div class="col-lg-9">
                                                    <input type="text" id="inNode" class="form-control"  placeholder="Node List" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputEmail" class="col-lg-3 control-label">Edge Config</label>
                                                <div class="col-lg-9">
                                                    <textarea  class="form-control" rows="5" id="inEdge">

                                                    </textarea>
                                                </div>
                                            </div>

                                            <legend>Dijkstra Parameter</legend>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="inputEmail" class="col-lg-6 control-label">Start Node</label>
                                                        <div class="col-lg-6">
                                                            <input type="text" class="form-control" id="inStart" placeholder="Source">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="inputEmail" class="col-lg-6 control-label">End Node</label>
                                                        <div class="col-lg-6">
                                                            <input type="text" class="form-control" id="inEnd" placeholder="End">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            


                                            <div class="form-group">
                                                <div class="col-lg-10 col-lg-offset-2">
                                                    <button class="btn btn-default  btn-raised">Reset</button>
                                                    <button type="submit" class="btn btn-primary  btn-raised" id="btnSubmitDij">Submit</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

                          
        </div>
        
        
        
        <div class="animate-show">
            <div class="row">
                <div class="col-md-4 col-xd-12 col-ld-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Dijkstra Algorithm</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div id="cy" class="cy col-md-12"></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xd-12 col-ld-12">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Prim Algorithm</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div id="cyprim" class="col-md-12 cy"></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xd-12 col-ld-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Kruskal Algorithm</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div id="cykruskal" class="col-md-12 cy"></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
    </div>
</body>

    
</html>
